@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --c-white: white;
    --c-grey-dark: rgb(105, 105, 105);
    --c-orange-light: rgb(209, 176, 171);
    --c-grey-light: rgb(148, 148, 148);
    --c-blue-bright: rgb(15, 200, 233);
    --c-blue-dark: rgb(20, 39, 80);

}


.contain-app {
    
    min-height: 100vh;
    width: 50em;
    margin: 0 auto;
    color: var(--c-white);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    position: relative;
}

.contentAll {
    padding: 20px;

}

@media only screen and (max-width: 1200px) {
    .contain-app {
        width: 100%;
    }
}

.alerting {
    background-color: var(--c-blue-dark);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.alerting::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./assets/dandelion.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}


.night-time {
    background-color: var(--c-blue-dark);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.night-time::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./assets/night.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;

}


.day-time {
    position: absolute;
    background-color: var(--c-blue-bright);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;


}

.day-time::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./assets/sky.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;

}

/* search bar */


.form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-icon {
    border: none;
    background-color: var(--c-grey-light);
    font-size: 25px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.search-icon:hover {
    background-color: var(--c-grey-dark);

}

.search-bar {
    height: 35px;
    border: none;
    width: 80%;
}


/* forecast */

.contain-today-forecast {
    text-align: center;
}

.contain-flex-stats {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon {
    object-fit: contain;
    object-position: center;
    height: 90px;
    width: 90px;

}

.icon-description {
    text-align: left;
}

.text-capitalise {
    text-transform: capitalize;

}

.text-dark {
    color: var(--c-orange-light);
}


.flex-item {
    margin: 15px 25px;
    font-size: 18px;

}

.arrows {
    opacity: 0.4;
    font-size: 28px;
    
}

.temp-main {
    padding: 15px;
    font-size: 60px;
    font-weight: bold;
}

.date {
    font-size: 18px;

}

/* Alert */

.alert-message {
    text-align: center;
    margin-top: 20px;
}